<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Students{% endblock %}</title>
    <link rel="icon" href="{{ asset('assets/favicon.ico') }}"/>
    {% include 'partials/includes.html.twig' %}
</head>
<body>
{% block body %}
    {% include 'partials/header.html.twig' with {activePage:'student'} %}
    <div class="container my-5 bg-dark rounded-3 overflow-hidden">
        <div class="row mt-2 g-2">
            <div class="col-md-3">
                <img class="img-fluid" src="{{ asset('assets/students.png') }}">
            </div>
            <div class="col-md-6">
                <p class="lead text-light">Subjects:
                    <a href="https://www.w3schools.com/mysql/mysql_select.asp" target="_blank">SELECT</a>,
                    <a href="https://www.w3schools.com/mysql/mysql_count_avg_sum.asp" target="_blank">COUNT / AVG / SUM</a>,
                    <a href="https://www.w3schools.com/sql/sql_groupby.asp" target="_blank">GROUP BY</a>,
                    <a href="" target="_blank">LIMIT</a>
                </p>
                <p class="text-light">
                    To solve this puzzle you must answer a question. Use GROUP BY to bundle students in the same grade together
                    and use aggregate functions such as MIN/MAX to calculate the result you need.
                </p>
            </div>
            <div class="col-md-3">
                <img class="img-fluid" src="{{ asset('assets/student_schema.png') }}">
            </div>
            <div class="col mt-5">
                <div class="row">
                    <div class="col-md-4">
                        <form method="post">
                            <div class="form-group">
                                <label for="query" class="text-light">Enter your query here</label>
                                {% if query is defined %}
                                    <textarea id="query" name="query" class="form-control" required>{{ query }}</textarea>
                                {% else %}
                                    <textarea id="query" name="query" class="form-control" placeholder="SELECT * FROM students" required></textarea>
                                {% endif %}
                            </div>
                            <input class="btn btn-light mt-2" type="submit">
                        </form>
                        {% if queryException is defined %}
                        <p class="text-danger">{{ queryException }}</p>
                        {% endif %}
                    </div>
                    <div class="col-md-8">
                        <table class="table table-dark">
                            <thead class="thead">
                            <tr>
                                {% for key in puzzleRows|first|keys %}
                                    <td>{{ key }}</td>
                                {% endfor %}
                            </tr>
                            </thead>
                            <tbody>
                            {% for row in puzzleRows %}
                                <tr>
                                    {% for column in row %}
                                        <td>{{ column }}</td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
</body>
</html>